target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_09_2022,_20_03_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_09_2022,_20_03_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022,_10_43_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022,_10_43_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]4/shelved.patch
/.idea/uiDesigner.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_09_2022__20_03__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022__10_43__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022__10_43__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_4.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_09_2022,_20_03_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_09_2022,_20_03_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022,_10_43_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022,_10_43_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]4/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_09_2022,_20_03_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_09_2022,_20_03_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022,_10_43_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022,_10_43_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]4/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_09_2022,_20_03_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_27_09_2022,_20_03_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022,_10_43_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_09_2022,_10_43_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]4/shelved.patch
